:root {
    --col-main-green: rgb(35, 165, 90);
    --col-main-green-hover: #209752;
    --bg-lightest: #414449;
    --bg-second-lightest: #35383d;
    --bg-second-darkest: #272a2f;
    --bg-darkest: #1c2023;
    --font-white: #eeecec;
    --font-hover: #dfdede;
}

.container {
    width: min(100% - 10px, 1280px);
    margin-inline: auto;
}

.flex {
    display: flex;
}

.center {
    height: 100%;
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
}

body{
    background-color: var(--bg-second-darkest);
}

.text {
    color: var(--font-white);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/*--------end of general--------*/

/*--------header--------*/

.container.flex.head {
    justify-content: space-between;
}

.left-sect {
    display: flex;
    flex-direction: row;
}

.linked-out-logo {
    margin-top: 5px;
    background-image: url(../images/linked-out-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    visibility: visible;
}

.header-input {
    height: 40px;
    line-height: 80px;
    place-self: center;
    padding: 8px 20px 8px 50px;
    border-radius: 10px;
}

input[type="text"].header-input {
    margin-left: 10px;
    padding: 8px 20px 8px 48px;
    border-radius: 10px;
    background: url("../images/search-icon-.png") no-repeat 5% center var(--bg-second-lightest);
    color: var(--font-white);
    background-size: 20px;
}
.search {
    height: 40px;
    place-self: center;
    border-radius: 10px;
    padding: 8px 20px;
    margin-left: 20px;
    background-color: var(--col-main-green);
    color: var(--font-white);
    transition: 0.3s ease-in-out;
}

.search:hover {
    background-color: var(--col-main-green-hover);
    
}

header {
    background-color: var(--bg-darkest);
    min-width: 100%;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(0 0 0 / 0.2) 0px 1px 25px;
    height: 70px;
    position: sticky; 
    top: 0;
    z-index: 99;
}

nav.head {
    color: var(--col-white);
    font-size: 0px;
    display: flex;
    animation: fadeIn 0.5s ease-in-out;
}

nav.head a {
    text-decoration: none;
    color: var(--col-white);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
}

nav.head {
    width: 100%;
    text-align: right;
    justify-content: space-between;
    color: var(--font-white);
}

nav.head ul {
    justify-content: space-between;
}
nav.head ul li  {
    display: inline;
}

nav.head ul li a {
    line-height: 70px;
    text-transform: capitalize;
    color: var(--col-black);
}

nav.head ul li a:hover {
    text-transform: capitalize;
    color: var(--font-hover);
}

i.fa-bars {
    color: var(--col-black);
    font-size: 30px;
    display: none;
}

.profilePic.second {
    height: 45px;
    width: 45px;
    margin-top: 13px;
    margin-left: 10px;
}

.profilePic.second:hover {
    cursor: pointer;
}
/*--------end of header-------- */

/*--------THE PAGE--------*/

.thePage {
    display: flex;
    justify-content: center; 
    background-color: var(--bg-second-darkest);
}

.box {
    margin: 30px 20px;
    width: 400px;
    height: 300px;
    /* border: 1px solid #209752; */
}

/*--------userInfo--------*/

.userInfo {
    width: 300px;
    border-radius: 8px;
    align-items: center;
    position: sticky;
}

.profileBox {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 250px;
    border-radius: 8px;
    background-color: var(--bg-second-lightest);
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('../images/favicon.jpeg'); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.name {
    margin: 10px 0px 0px 5px;
}

.job {
    font-size: 15px;
    color: #e0e0e0;
}

.email {
    margin-top: 5px;
}

.social {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.infoBox{
    width: 147.5px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    background-color: var(--bg-second-lightest);
    border-radius: 8px;
    display: inline-block;
}

.numbers {
    font-size: 17px;
    margin-top: 3px;
    font-weight: 600;
}

.connectTxt {
    letter-spacing: 0.7px;
}

.userContact {
    width: 300px;
    height: 50px;
    background-color: var(--bg-second-lightest);
    border-radius: 8px;
    line-height: 50px;
    margin: 5px 0px;
}

.userTxt {
    font-size: 16px;
    margin-left: 28px;
}

/*--------end of userInfo--------*/

/*--------pageFloor--------*/

.pageFloor{
    margin-top: 30px;
    width: 700px;
    height: 900px;
    justify-content: center;
    /* border: 1px solid #209752; */
}

.postBox {
    position: relative;
    width: 700px;
    height: 200px;
    border-radius: 8px;
    background-color: var(--bg-second-lightest);
    align-items: center;
}

.postTxt {
    width: 670px;
    height: 50px;
    border-radius: 8px;
    padding-left: 15px;
    margin-top: 15px;
    margin-left: 15px;
    background-color: var(--bg-second-darkest);
    color: var(--font-white);
}

.submit {
    position: absolute;
    bottom: 15px; 
    right: 15px; 
    background-color: var(--col-main-green); 
    color: var(--font-white); 
    padding: 8px 20px;
    border-radius: 5px;
}

.submit:hover {
    background-color: var(--col-main-green-hover);
    transition: all 0.3s ease-in-out;
}

/*--------end of pageFloor--------*/

/*--------otherUsers--------*/

/*--------end of otherUsers--------*/

/*--------end of the page--------*/

/*--------footer--------*/

.foot {
    justify-content: space-between;
}

footer {
    background-color: var(--bg-darkest);
    color: #fff;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 80px;
}

nav.foot {
    line-height: 80px;
}

nav.foot a i {
    line-height: 80px;
    color: #a7a7a7;
    padding: 0 10px;
    font-size: 27px;
    transition: all 0.3s ease-in-out;
}

nav.foot a i:hover {
    line-height: 80px;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.copyright {
    line-height: 80px;
    color: #b7b7b7;
    font-size: 14px;
}

/*--------end of footer--------*/