:root {
    --col-main-green: rgb(35, 165, 90);
    --col-main-green-hover: #209752;
    --bg-lightest: #414449;
    --bg-second-lightest: #35383d;
    --bg-second-darkest: #272a2f;
    --bg-darkest: #1c2023;
    --font-white: #eeecec;
}